# Atreus Frontend — Testnet
NEXT_PUBLIC_CONTRACT_ID=CCUJ72OWST2TCEVIPP5W6LVAYIUNSTPX3MQBKEUSAFHVY2JFKZ4CIHLW
NEXT_PUBLIC_VERIFIER_CONTRACT_ID=CAEK3YZJKNSWT2QJS5VUAWD4JVQMPPZSOPNWP7WLJ2HXFTUNT3N6MPPM
NEXT_PUBLIC_TOKEN_ID=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=your-google-client-secret
NEXT_PUBLIC_RELAYER_ADDRESS=GCED4K2AIOKWSBYADRHU4TBMKV7VO6VNMRA2VHROBTQHTDCDII2ZLPFI
NEXT_PUBLIC_RELAYER_FEE_STROOPS=0
NEXT_PUBLIC_BACKEND_URL=http://localhost:3001
# Production
# NEXT_PUBLIC_BACKEND_URL=https://atreus-backend.vercel.app
