NEXT_PUBLIC_CONTRACT_ID=CB4HZODVUBQXAMZYL5KEKOEYTNNMS7HCHWBWMDVBSJVWGIETOGFRCOBZ
NEXT_PUBLIC_VERIFIER_CONTRACT_ID=CASEKUKRPHLBXPCHUWCQ47UAN4EDM4EDHTGNWDNKRRIGWZRPR7GTCDY6
NEXT_PUBLIC_TOKEN_ID=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC

NEXT_PUBLIC_RELAYER_ADDRESS=
NEXT_PUBLIC_RELAYER_FEE_STROOPS=0
NEXT_PUBLIC_BACKEND_URL=http://localhost:3001
# NEXT_PUBLIC_BACKEND_URL=https://atreus-backend.vercel.app
